--
-- PostgreSQL database dump
--

\restrict Zbtu6ZgBjjc8quPjGhohivBgJlOUlpM9NC8HTz5jpJbnzMhzaDvRpeEByXtDnOb

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: sigah
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO sigah;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: sigah
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO sigah;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    entity text NOT NULL,
    "entityId" text NOT NULL,
    action text NOT NULL,
    "oldValues" text,
    "newValues" text,
    "userId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO sigah;

--
-- Name: beneficiaries; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.beneficiaries (
    id uuid NOT NULL,
    "documentType" text NOT NULL,
    "documentNumber" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    phone text,
    email text,
    address text,
    city text,
    "populationType" text,
    "familySize" integer DEFAULT 1 NOT NULL,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.beneficiaries OWNER TO sigah;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.categories (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO sigah;

--
-- Name: deliveries; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.deliveries (
    id uuid NOT NULL,
    code text NOT NULL,
    "requestId" uuid NOT NULL,
    status text DEFAULT 'PENDING_AUTHORIZATION'::text NOT NULL,
    "createdById" uuid,
    "authorizedById" uuid,
    "authorizationDate" timestamp(3) without time zone,
    "authorizationNotes" text,
    "authorizedQuantity" text,
    "isPartialAuth" boolean DEFAULT false NOT NULL,
    "warehouseUserId" uuid,
    "warehouseReceivedDate" timestamp(3) without time zone,
    "warehouseNotes" text,
    "preparedById" uuid,
    "preparationDate" timestamp(3) without time zone,
    "preparationNotes" text,
    "deliveredById" uuid,
    "deliveryDate" timestamp(3) without time zone,
    "deliveryNotes" text,
    "receivedBy" text,
    "receiverDocument" text,
    "receiverSignature" text,
    "receptionDate" timestamp(3) without time zone,
    "receptionNotes" text,
    notes text,
    "isPartial" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.deliveries OWNER TO sigah;

--
-- Name: delivery_details; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.delivery_details (
    id uuid NOT NULL,
    "deliveryId" uuid NOT NULL,
    "productId" uuid,
    "kitId" uuid,
    "lotId" uuid,
    quantity integer NOT NULL
);


ALTER TABLE public.delivery_details OWNER TO sigah;

--
-- Name: delivery_histories; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.delivery_histories (
    id uuid NOT NULL,
    "deliveryId" uuid NOT NULL,
    "fromStatus" text,
    "toStatus" text NOT NULL,
    notes text,
    "userId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.delivery_histories OWNER TO sigah;

--
-- Name: kit_inventory; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.kit_inventory (
    id uuid NOT NULL,
    "kitId" uuid NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.kit_inventory OWNER TO sigah;

--
-- Name: kit_inventory_movements; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.kit_inventory_movements (
    id uuid NOT NULL,
    "kitInventoryId" uuid NOT NULL,
    type text NOT NULL,
    quantity integer NOT NULL,
    "lotNumber" text,
    "expiryDate" timestamp(3) without time zone,
    reason text,
    reference text,
    "userId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.kit_inventory_movements OWNER TO sigah;

--
-- Name: kit_products; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.kit_products (
    id uuid NOT NULL,
    "kitId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.kit_products OWNER TO sigah;

--
-- Name: kits; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.kits (
    id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    type text DEFAULT 'GENERAL'::text NOT NULL
);


ALTER TABLE public.kits OWNER TO sigah;

--
-- Name: message_templates; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.message_templates (
    id uuid NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    criticality text DEFAULT 'NORMAL'::text NOT NULL,
    subject text NOT NULL,
    body text NOT NULL,
    icon text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.message_templates OWNER TO sigah;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    code text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    criticality text DEFAULT 'NORMAL'::text NOT NULL,
    "receiverId" uuid NOT NULL,
    "senderId" uuid,
    "deliveryId" uuid,
    "referenceType" text,
    "referenceId" text,
    channel text DEFAULT 'INTERNAL'::text NOT NULL,
    "whatsappSent" boolean DEFAULT false NOT NULL,
    "whatsappSentAt" timestamp(3) without time zone,
    "whatsappMessageId" text,
    "whatsappError" text,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "actionRequired" boolean DEFAULT false NOT NULL,
    "actionUrl" text,
    metadata text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO sigah;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.permissions (
    id uuid NOT NULL,
    module text NOT NULL,
    action text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.permissions OWNER TO sigah;

--
-- Name: product_lots; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.product_lots (
    id uuid NOT NULL,
    "productId" uuid NOT NULL,
    "lotNumber" text NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    "expiryDate" timestamp(3) without time zone,
    "entryDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.product_lots OWNER TO sigah;

--
-- Name: products; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text,
    "categoryId" uuid NOT NULL,
    unit text DEFAULT 'UNIT'::text NOT NULL,
    "isPerishable" boolean DEFAULT false NOT NULL,
    "minStock" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.products OWNER TO sigah;

--
-- Name: request_histories; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.request_histories (
    id uuid NOT NULL,
    "requestId" uuid NOT NULL,
    "fromStatus" text,
    "toStatus" text NOT NULL,
    notes text,
    "userId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.request_histories OWNER TO sigah;

--
-- Name: request_kits; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.request_kits (
    id uuid NOT NULL,
    "requestId" uuid NOT NULL,
    "kitId" uuid NOT NULL,
    "quantityRequested" integer NOT NULL,
    "quantityDelivered" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.request_kits OWNER TO sigah;

--
-- Name: request_products; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.request_products (
    id uuid NOT NULL,
    "requestId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "quantityRequested" integer NOT NULL,
    "quantityDelivered" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.request_products OWNER TO sigah;

--
-- Name: requests; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.requests (
    id uuid NOT NULL,
    code text NOT NULL,
    "beneficiaryId" uuid NOT NULL,
    "requestDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'REGISTERED'::text NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    notes text,
    "createdById" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.requests OWNER TO sigah;

--
-- Name: return_details; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.return_details (
    id uuid NOT NULL,
    "returnId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "lotId" uuid,
    quantity integer NOT NULL,
    condition text NOT NULL
);


ALTER TABLE public.return_details OWNER TO sigah;

--
-- Name: returns; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.returns (
    id uuid NOT NULL,
    "deliveryId" uuid NOT NULL,
    "returnDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reason text NOT NULL,
    "processedById" uuid NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.returns OWNER TO sigah;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.role_permissions (
    id uuid NOT NULL,
    "roleId" uuid NOT NULL,
    "permissionId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO sigah;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.roles (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    "isSystem" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.roles OWNER TO sigah;

--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.stock_movements (
    id uuid NOT NULL,
    "productId" uuid NOT NULL,
    "lotId" uuid,
    type text NOT NULL,
    quantity integer NOT NULL,
    reason text,
    reference text,
    "userId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stock_movements OWNER TO sigah;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sigah
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    phone text,
    "whatsappApiKey" text,
    "telegramChatId" text,
    "roleId" uuid,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "delegatedToId" uuid,
    "delegationStartDate" timestamp(3) without time zone,
    "delegationEndDate" timestamp(3) without time zone,
    "passwordChangedAt" timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO sigah;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: beneficiaries; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: deliveries; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.deliveries (id, code, "requestId", status, "createdById", "authorizedById", "authorizationDate", "authorizationNotes", "authorizedQuantity", "isPartialAuth", "warehouseUserId", "warehouseReceivedDate", "warehouseNotes", "preparedById", "preparationDate", "preparationNotes", "deliveredById", "deliveryDate", "deliveryNotes", "receivedBy", "receiverDocument", "receiverSignature", "receptionDate", "receptionNotes", notes, "isPartial", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: delivery_details; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.delivery_details (id, "deliveryId", "productId", "kitId", "lotId", quantity) FROM stdin;
\.


--
-- Data for Name: delivery_histories; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.delivery_histories (id, "deliveryId", "fromStatus", "toStatus", notes, "userId", "createdAt") FROM stdin;
\.


--
-- Data for Name: kit_inventory; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: kit_inventory_movements; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: kit_products; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: kits; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: message_templates; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.message_templates (id, name, type, criticality, subject, body, icon, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.notifications (id, code, type, title, message, criticality, "receiverId", "senderId", "deliveryId", "referenceType", "referenceId", channel, "whatsappSent", "whatsappSentAt", "whatsappMessageId", "whatsappError", "isRead", "readAt", "actionRequired", "actionUrl", metadata, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: product_lots; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: request_histories; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: request_kits; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: request_products; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.request_products (id, "requestId", "productId", "quantityRequested", "quantityDelivered") FROM stdin;
03c2e66a-f314-4d20-b4cd-9c4c457ea532	fb4f280a-b3b4-46a4-a1ac-07516b66565c	efb140ae-3e50-4608-917c-7578385e08c0	5	0
6e0a70ab-3631-47fa-ba25-711055fb02ea	d28e58d0-15eb-448a-a94f-b3a3fd052a8b	98e685e3-6549-4457-8275-61e40292364d	2	0
f1d85a7c-e76d-43bd-9f3d-c2d2a088b579	d28e58d0-15eb-448a-a94f-b3a3fd052a8b	a5e37b2a-902b-4762-a742-8d6bea746a51	1	0
\.


--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: return_details; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.return_details (id, "returnId", "productId", "lotId", quantity, condition) FROM stdin;
\.


--
-- Data for Name: returns; Type: TABLE DATA; Schema: public; Owner: sigah
--

COPY public.returns (id, "deliveryId", "returnDate", reason, "processedById", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sigah
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: beneficiaries beneficiaries_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.beneficiaries
    ADD CONSTRAINT beneficiaries_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: deliveries deliveries_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_pkey PRIMARY KEY (id);


--
-- Name: delivery_details delivery_details_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_details
    ADD CONSTRAINT delivery_details_pkey PRIMARY KEY (id);


--
-- Name: delivery_histories delivery_histories_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_histories
    ADD CONSTRAINT delivery_histories_pkey PRIMARY KEY (id);


--
-- Name: kit_inventory_movements kit_inventory_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_inventory_movements
    ADD CONSTRAINT kit_inventory_movements_pkey PRIMARY KEY (id);


--
-- Name: kit_inventory kit_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_inventory
    ADD CONSTRAINT kit_inventory_pkey PRIMARY KEY (id);


--
-- Name: kit_products kit_products_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_products
    ADD CONSTRAINT kit_products_pkey PRIMARY KEY (id);


--
-- Name: kits kits_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kits
    ADD CONSTRAINT kits_pkey PRIMARY KEY (id);


--
-- Name: message_templates message_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.message_templates
    ADD CONSTRAINT message_templates_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: product_lots product_lots_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.product_lots
    ADD CONSTRAINT product_lots_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: request_histories request_histories_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_histories
    ADD CONSTRAINT request_histories_pkey PRIMARY KEY (id);


--
-- Name: request_kits request_kits_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_kits
    ADD CONSTRAINT request_kits_pkey PRIMARY KEY (id);


--
-- Name: request_products request_products_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_products
    ADD CONSTRAINT request_products_pkey PRIMARY KEY (id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (id);


--
-- Name: return_details return_details_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.return_details
    ADD CONSTRAINT return_details_pkey PRIMARY KEY (id);


--
-- Name: returns returns_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT returns_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: sigah
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_entity_entityId_idx; Type: INDEX; Schema: public; Owner: sigah
--

CREATE INDEX "audit_logs_entity_entityId_idx" ON public.audit_logs USING btree (entity, "entityId");


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: public; Owner: sigah
--

CREATE INDEX "audit_logs_userId_idx" ON public.audit_logs USING btree ("userId");


--
-- Name: beneficiaries_documentType_documentNumber_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX "beneficiaries_documentType_documentNumber_key" ON public.beneficiaries USING btree ("documentType", "documentNumber");


--
-- Name: categories_name_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX categories_name_key ON public.categories USING btree (name);


--
-- Name: deliveries_code_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX deliveries_code_key ON public.deliveries USING btree (code);


--
-- Name: kit_inventory_kitId_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX "kit_inventory_kitId_key" ON public.kit_inventory USING btree ("kitId");


--
-- Name: kit_products_kitId_productId_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX "kit_products_kitId_productId_key" ON public.kit_products USING btree ("kitId", "productId");


--
-- Name: kits_code_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX kits_code_key ON public.kits USING btree (code);


--
-- Name: message_templates_name_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX message_templates_name_key ON public.message_templates USING btree (name);


--
-- Name: notifications_code_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX notifications_code_key ON public.notifications USING btree (code);


--
-- Name: notifications_createdAt_idx; Type: INDEX; Schema: public; Owner: sigah
--

CREATE INDEX "notifications_createdAt_idx" ON public.notifications USING btree ("createdAt");


--
-- Name: notifications_receiverId_isRead_idx; Type: INDEX; Schema: public; Owner: sigah
--

CREATE INDEX "notifications_receiverId_isRead_idx" ON public.notifications USING btree ("receiverId", "isRead");


--
-- Name: permissions_module_action_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX permissions_module_action_key ON public.permissions USING btree (module, action);


--
-- Name: product_lots_productId_lotNumber_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX "product_lots_productId_lotNumber_key" ON public.product_lots USING btree ("productId", "lotNumber");


--
-- Name: products_code_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX products_code_key ON public.products USING btree (code);


--
-- Name: request_kits_requestId_kitId_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX "request_kits_requestId_kitId_key" ON public.request_kits USING btree ("requestId", "kitId");


--
-- Name: request_products_requestId_productId_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX "request_products_requestId_productId_key" ON public.request_products USING btree ("requestId", "productId");


--
-- Name: requests_code_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX requests_code_key ON public.requests USING btree (code);


--
-- Name: role_permissions_roleId_permissionId_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX "role_permissions_roleId_permissionId_key" ON public.role_permissions USING btree ("roleId", "permissionId");


--
-- Name: roles_name_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX roles_name_key ON public.roles USING btree (name);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: sigah
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: deliveries deliveries_authorizedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT "deliveries_authorizedById_fkey" FOREIGN KEY ("authorizedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: deliveries deliveries_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT "deliveries_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: deliveries deliveries_deliveredById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT "deliveries_deliveredById_fkey" FOREIGN KEY ("deliveredById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: deliveries deliveries_preparedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT "deliveries_preparedById_fkey" FOREIGN KEY ("preparedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: deliveries deliveries_requestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT "deliveries_requestId_fkey" FOREIGN KEY ("requestId") REFERENCES public.requests(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: deliveries deliveries_warehouseUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT "deliveries_warehouseUserId_fkey" FOREIGN KEY ("warehouseUserId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: delivery_details delivery_details_deliveryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_details
    ADD CONSTRAINT "delivery_details_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES public.deliveries(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: delivery_details delivery_details_kitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_details
    ADD CONSTRAINT "delivery_details_kitId_fkey" FOREIGN KEY ("kitId") REFERENCES public.kits(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: delivery_details delivery_details_lotId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_details
    ADD CONSTRAINT "delivery_details_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES public.product_lots(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: delivery_details delivery_details_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_details
    ADD CONSTRAINT "delivery_details_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: delivery_histories delivery_histories_deliveryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_histories
    ADD CONSTRAINT "delivery_histories_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES public.deliveries(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: delivery_histories delivery_histories_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.delivery_histories
    ADD CONSTRAINT "delivery_histories_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: kit_inventory kit_inventory_kitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_inventory
    ADD CONSTRAINT "kit_inventory_kitId_fkey" FOREIGN KEY ("kitId") REFERENCES public.kits(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: kit_inventory_movements kit_inventory_movements_kitInventoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_inventory_movements
    ADD CONSTRAINT "kit_inventory_movements_kitInventoryId_fkey" FOREIGN KEY ("kitInventoryId") REFERENCES public.kit_inventory(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: kit_inventory_movements kit_inventory_movements_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_inventory_movements
    ADD CONSTRAINT "kit_inventory_movements_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: kit_products kit_products_kitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_products
    ADD CONSTRAINT "kit_products_kitId_fkey" FOREIGN KEY ("kitId") REFERENCES public.kits(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: kit_products kit_products_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.kit_products
    ADD CONSTRAINT "kit_products_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_deliveryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES public.deliveries(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notifications notifications_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: product_lots product_lots_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.product_lots
    ADD CONSTRAINT "product_lots_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: request_histories request_histories_requestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_histories
    ADD CONSTRAINT "request_histories_requestId_fkey" FOREIGN KEY ("requestId") REFERENCES public.requests(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: request_histories request_histories_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_histories
    ADD CONSTRAINT "request_histories_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: request_kits request_kits_kitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_kits
    ADD CONSTRAINT "request_kits_kitId_fkey" FOREIGN KEY ("kitId") REFERENCES public.kits(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: request_kits request_kits_requestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_kits
    ADD CONSTRAINT "request_kits_requestId_fkey" FOREIGN KEY ("requestId") REFERENCES public.requests(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: request_products request_products_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_products
    ADD CONSTRAINT "request_products_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: request_products request_products_requestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.request_products
    ADD CONSTRAINT "request_products_requestId_fkey" FOREIGN KEY ("requestId") REFERENCES public.requests(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: requests requests_beneficiaryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT "requests_beneficiaryId_fkey" FOREIGN KEY ("beneficiaryId") REFERENCES public.beneficiaries(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: requests requests_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT "requests_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: return_details return_details_lotId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.return_details
    ADD CONSTRAINT "return_details_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES public.product_lots(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: return_details return_details_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.return_details
    ADD CONSTRAINT "return_details_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: return_details return_details_returnId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.return_details
    ADD CONSTRAINT "return_details_returnId_fkey" FOREIGN KEY ("returnId") REFERENCES public.returns(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: returns returns_deliveryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT "returns_deliveryId_fkey" FOREIGN KEY ("deliveryId") REFERENCES public.deliveries(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: returns returns_processedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.returns
    ADD CONSTRAINT "returns_processedById_fkey" FOREIGN KEY ("processedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: role_permissions role_permissions_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: stock_movements stock_movements_lotId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT "stock_movements_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES public.product_lots(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: stock_movements stock_movements_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT "stock_movements_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT "stock_movements_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_delegatedToId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_delegatedToId_fkey" FOREIGN KEY ("delegatedToId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: users users_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sigah
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: sigah
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Zbtu6ZgBjjc8quPjGhohivBgJlOUlpM9NC8HTz5jpJbnzMhzaDvRpeEByXtDnOb

